<div class="users-new">
  <div class="container">
    <div class="form-heading">ログイン</div>
    <div class="form users-form">
      <div class="form-body">

        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        
        <%= form_tag("/login") do %>
        <div class="email">
          <p>メールアドレス</p>
          <input name="email" placeholder="Email address" value="<%= @email %>">
        </div>
          <p>パスワード</p>
          <input type="password" name="password" placeholder="Password" value="<%= @password %>">
          <br>
          <button class="submit" type="submit">Log In</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
