<div class="users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        
        <%= form_tag("/users/create") do %>
          <p>ユーザー名</p>
          <input name="name" placeholder="User name" value="<%= @user.name %>">
        　<div class="email">
          　<p>メールアドレス</p>
          　<input name="email" placeholder="Email address" value="<%= @user.email %>">
        　</div>
          <p>パスワード</p>
          <input type="password" name="password" placeholder="Password">
          <br>
          <button class="submit" type="submit">Sign Up</button>
  
        <% end %>
      </div>
    </div>
  </div>
</div>
