<div class="about-main">
  <h1>My Self とは</h1>
  <p>あなた自身の紹介ページを作成することができます。
  <br>みんなとページを共有し合えるので、
  <br>お互いの近況を伝えることが可能です。</p>
  <h2>さぁ、みんなと繋がりましょう！</h2>
  <p>いろんな人が参加しています🎶</p>
  <img class="about-img" src="/users.png">
</div>

