<div class="about-main">
  <h1>My Self とは</h1>
  <p>あなた自身の紹介ページを作成することが出来ます。
  <br>みんなとページを共有し合えるので、
  <br>お互いの近況を伝えることが可能です。</p>
  <br>
  <h2>さぁ、みんなと繋がりましょう！</h2>
  <br><br>
  <p>こちらが cloud9 のフレームワークです</p>
  <img class="about-img" src="/top.jpg">
</div>
