<div class="contact-main">
  <h1>お問い合わせ</h1>
  <p>当Webサイトをご覧頂きありがとうございます。</p>
  <p>ご利用中にご不明点及び不具合等がございましたら、</p>
  <p>下記ボタンをクリックし、メールを送信して下さい。</p>
  <div class="mail">
  <a href="mailto:kamiyasoichi@hotmail.co.jp?subject=お問い合わせ&body=%0D%0Aお名前：%0D%0Aお問い合わせ内容：%0D%0A%0D%0Aご住所：%0D%0Aお電話番号：">
  問い合わせをする</a>
  </div>
<div class="foot">
  <div class="fo-main">
   This Website made by Soichi Kamiya  
  </div>
  <ul class="fo-menus">
   <li>
    <%= link_to("このWEBサイトについて", "/about/web") %>
   </li>
   <li>
    <%= link_to("お問い合わせ", "/contact") %>
   </li>
  </ul>
 </div>
</div>