<div class="secret">
<video class="secret" src="/night.mp4" poster="/bg.jpg" autoplay loop muted></video>
<h1>Let's  <span id="back">express</span>  yourself !!</h1>
</div>

<div class="top-main">
    <h1>自分自身を<span id="push">表現</span>しよう</h1>
    <p>あなた自身のことを伝えることで</p>
    <p>みんなと繋がりましょう！</p>
    <br>
    <a class="signup-btn signup-show" href="signup">Sign Up !!</a>
    <div class="for-login">
    <p>アカウントをお持ちの方は<a href="login">こちら</a></p>
    </div>
    <a href="https://www.facebook.com/" target="_blank"><img src="/facebook.png"  class="btn facebook"></a>
    <a href="https://twitter.com/" target="_blank"><img src="/twitter.jpg" class="btn twitter"></a>
    <a href="https://www.instagram.com/" target="_blank"><img src="/instagram.jpeg" class="btn insta"></a>
    
 <div class="foot">
  <div class="fo-main">
   This Website made by Soichi Kamiya  
  </div>
  <ul class="fo-menus">
   <li>
    <%= link_to("このWEBサイトについて", "/about/web") %>
   </li>
   <li>
    <%= link_to("お問い合わせ", "/contact") %>
   </li>
  </ul>
 </div>
</div>



