
<header>
  <div class="header-logo">
    <!--トップページへのリンクにしてください-->
    <a href="/">My Self</a>
  </div>
  <ul class="header-menus">
    <li>
      <!--サービス紹介ページへのリンクにしてください-->
      <a href="/about">My Selfとは</a>
    
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h1>自分を表現しよう</h1>
    <p>あなた自身のことを伝えることで</p>
    <p>みんなと繋がりましょう！</p>
  </div>
</div>