 <div class="main top-main">
  <div class="top-message">
    <h1>自分自身を表現しよう</h1>
    <p>あなた自身のことを伝えることで</p>
    <p>みんなと繋がりましょう！</p>
    <br><br>
    <a class="signup-btn" href="/signup">Sign Up !!</a>
    <div class="for-login">
    <p>アカウントをお持ちの方は<a href="login">こちら</a></p>
    </div>
  </div>
 </div>
