 <header>
  <div class="header-logo">
    <a href="/">My Self</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">My Selfとは</a>
      <a href="#">Login</a>
    </li>
  </ul>
 </header>

 <div class="main top-main">
  <div class="top-message">
    <h1>自分自身を表現しよう</h1>
    <p>あなた自身のことを伝えることで</p>
    <p>みんなと繋がりましょう！</p>
    <br><br>
    <a class="signup-btn" href="#">Sign Up !!</a> 
    <div class="for-login">
    <p>アカウントをお持ちの方は<a href="#">こちら</a></p>
    </div>
  </div>
 </div>
