<div class="web-main">
  <h1>このWEBサイトについて</h1>
  <p>このWebサイトは 神谷壮一 が Ruby on rails の
  学習実践として作成したものです。</p>
  <p>ログイン・ログアウト機能を備えてありますので、ご自由にご利用下さい。</p>
    
<div class="foot">
  <div class="fo-main">
   This Website made by Soichi Kamiya  
  </div>
  <ul class="fo-menus">
   <li>
    <%= link_to("このWEBサイトについて", "/about/web") %>
   </li>
   <li>
    <%= link_to("お問い合わせ", "/contact") %>
   </li>
  </ul>
 </div>
</div>