<div class="main posts-new">
  <div class="container">
    <h1 class="posts-heading">編集する</h1>
    <div class="form pos-form">
      
    <% @post.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %> 
      
    <%= form_tag "/posts/#{@post.id}/update", remote: true do %>
 
      <div class="form-body">
        <textarea name="content" placeholder="200文字以内で入力して下さい"><%= @post.content %></textarea>
        <input type="submit" value="保存">
      </div>
    <% end %>

    </div>    
  </div>
</div>