<div class="main posts-index">
  <div class="container">
    <h1 class="posts-heading">投稿一覧</h1>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= post.content %>
        <div class="post-time">
          <%= simple_time(post.updated_at) %>
        </div>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{post.id}/edit") %><span>　 </span>  
          <%= link_to("削除", "/posts/#{post.id}/destroy", method: :post, data: {confirm: "本当に削除しますか？"}) %>
        </div>
      </div>
    <% end %>
  </div>
</div>