<div id="post_success"></div>
<div class="main posts-index">
  <div class="container">
    <h1 class="posts-heading">投稿一覧</h1>
    <%= link_to "データを追加する", "/posts/new", remote: true, class: "posts-form" %><br><br><br>
    <div id="post-form">
    </div>
    <div id="posts">
      <%= render :partial => "index" %>
    </div>