* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  text-align: center;
}

body {
  color: #2d3133;
  background-color: skyblue;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: cover;
  background-image: url("/pic.jpg");
  a { text-decoration: none; } 
}

header {
  height: 100px;
  width: 100%;
  background-color: grey;
  font-weight: 600;
  opacity: 0.6;
  border-bottom: 1px solid grey;
  
  .header-logo {
    height: 100px;
    float: left;
    margin-top: 15.5px;
    margin-left: 30px;
    a:visited { color: black; }
    a:hover { background-color: #696969;}
    
    a {
    font-size: 40px;
    color: black;
    padding: 21px;
    }
  }
  
  .header-menus {
    padding-top: 10px;
    float: right;
    list-style: none;
    a:hover { background-color: #696969;}
    li {float: left; }

    a {
     font-size: 25px;
     color: black;
     padding: 20px;
     }
  }
}

.main {
  width: 100%;
  height: 650px;
  min-height: 100%;
  margin-top: 80px;
  
  h1 {
    letter-spacing: 20px;
    margin-bottom: 60px;
  }
  
  p {
    letter-spacing: 5px;
  }
  
  .signup-btn {
    font-size: 32px;
    font-weight: 700;
    padding: 20px 30px;
    background-color: skyblue;
    opacity: 0.8;
    border-radius: 25px;
    color: #2d3133;
    box-shadow: 0 7px #161666;
  }
  
  .signup-btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
  }
  
  .signup-btn:hover {
    opacity: 1;
  }
  
  .for-login {
    margin-top: 45px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    a:hover {color:#00bfff;}
    a {
      color:white;
      text-decoration: underline;
    }
  }
}

.about-main {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin-top: 80px;

  h1 {
    letter-spacing: 15px;
    font-size: 50px;
  }
  
  p {
    letter-spacing: 5px;
  }
  
  h2 {
    letter-spacing: 10px;
  }

  .about-img {
    height: 500px;
    width: 60%;
  }
}
